
{% extends 'base.html' %}
{% load static %}
{% block content %}

            <br>
            <br>
            
                    <button class="bg-gray-500 hover:bg-blue-700 text-white  py-1 px-1 rounded-full">REGISTER HERE</button>
                    <div class="flex">
                <div class="w-1/2"><h5 style="font-size: 40px;"><b>Micro,Small&Medium Entreprises<span style="color:#B794F4">(MSMEs)</span></b></h5><br>
                            <p>Expand Your Business On Digital Platforms</p>
                    <div class="grid grid-flow-col grid-cols-3  gap-1">
                        <div><button class="bg-blue-200 hover:bg-blue-700 text-black-700  hover:text-black py-2 px-4 border border-blue-500 hover:border-transparent rounded-md">
                                Get Started
                                </button>
                        </div>
                        <div><button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-black py-2 px-4 border border-blue-500 hover:border-transparent rounded-md">
                                    Learn More
                                    </button>
                        </div>
                
                    </div>
                </div>    
                <div class="w-1/2"><img src="{% static 'picture/msmes.jpg' %}"></div>  
        </div><br><br><br>
        <div class="bg-gray-200" style="width: 80%; margin-left: 120px; "> 
            <div style="margin-left: 45%;">Trusted by</div><br>
            <div class="grid grid-flow-col grid-cols-5  gap-4 p-4">
                <div class="text-gray-700" style="height: 70px;"><a href="" uk-icon="uikit"></a>uikit</div>
                <div class="text-gray-700" style="height: 70px;"><a href="" uk-icon="soundcloud"></a>soundcloud</div>
                <div class="text-gray-700" style="height: 70px;"><a href="" uk-icon="behance"></a>behance</div>
                <div class="text-gray-700" style="height: 70px;"><a href="" uk-icon="xing"></a>xing</div>
                <div class="text-gray-700" style="height: 70px;"><a href="" uk-icon="gitter"></a>gitter</div>
              </div>

        </div>








            

        </div>
        
{% endblock %}
        

















